.valorFrete {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.valorFrete label {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
}

.valorFrete input {
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 3px;
    border-color: #5a5a5a;
    background-color: #fff;
    height: 25px;
    padding: 5px 5px;   
}

.valorFrete input[type="checkbox"] {
    margin-top: -1px;
    vertical-align: middle;
    margin: 0px 5px 0px 0px;
  }